/* 添加到你的Bootstrap主题文件或新创建的CSS文件 */
.well {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.well h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.well img {
    display: block;
    margin: 0 auto; /* 使图片在.well元素中居中 */
}
